body {
    background: #111;
    font-family: "Verdana"
}

#canvas {
    position: absolute;
    top: 30;
    left: 30;
    box-shadow: 0 0 5px #ccc;
    margin: 0 auto;
}

#box {
    width: 50px;
    height: 50px;
    position: absolute;
    background: #0099ff;
    top: 270px;
    border-radius: 50%;
}

#commands {
    top: 30px;
    bottom: 30px;
    left: 30px;
    right: 30px;
    position: absolute;
    padding: 20px;
    font-family: Verdana;
    color: #333;
    font-size: 20px;
    text-transform: uppercase;
}

#commands span {
    border-right: 1px solid #333;
    padding: 0 5px;
    display: inline-block;
}


#directions {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -200px;
    font-size: 45px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
}

#directions div {
    width: 200px;
    text-align: center;
    position: absolute;
    text-shadow: 1px 1px 1px #333;
}

#up {
    left: 100px;
}

#down {
    bottom: 0;
    left: 100px;
}

#left {
    top: 70px;
    left: 0;
}

#right {
    top: 70px;
    right: 0;
    text-indent: 30px;
}

.directionActive {
    color: #CCC;
}


#levenshtein {
    color: #999;
    margin: 90px auto 0;
    width: 200px;
    text-align: center;
    position: relative;
    z-index: 9;
}
#level {
    -webkit-appearance: none;
    width: 160px;
    height: 14px;
    border: 1px solid #ccc;
    top: 10px;
    left: 42px;
    border-radius: 5px;
    background-color: #f5f5f5;
    background-repeat: repeat-x;
    cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #0099ff;
    background-repeat: repeat-x;
    height: 16px;
    width: 16px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
}









